/* ============= GLOBAL CSS =============== */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
} /*16px*/

img {
  width: 100%;
  object-fit: cover;
}
:root {
  /* colors */
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 11700px;
  --fixed-width: 600px;
  --view-width: 90vw;
  --ff-family: 'Rubik Scribble', system-ui;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
  line-height: 1.5;
  color: var(--grey-500);
  font-size: 0.9rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  color: var(--grey-500);
  font-size: 0.9rem;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 100%;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 4rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.section-center {
  width: 95vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
/* 
============= 
PROJECT CSS
=============
*/
/* ============= Slick Carousel =============== */

/* .slick-container {
  width: 100vw;
  text-align: center;
  position: relative;
}
.person-img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}
.slick-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
}
.slick-inner p {
  margin: 1rem auto;
  margin-top: 0;
}
.slick-inner h1 {
  font-family: 'Rubik Scribble', system-ui;
  max-width: 30rem;
  margin: 0 auto;
}
/* .slick-prev::before {
  color: var(--primary-500) !important;
} */
/* .slick-next::before {
  color: var(--primary-500) !important;
} */

@keyframes up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

.text,
.title {
  animation: up 0.6s linear 1;
}
.hero-btn {
  animation: up 1.2s linear 1;
}

.main-container {
  position: relative;
}
.info {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 2rem;
}

.info h2 {
  font-family: var(--ff-family);
  color: white;
  font-size: 3rem;
  max-width: 40rem;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .info h2 {
    font-size: 3.7rem;
  }
}
.info p {
  margin: 1rem auto;
  margin-top: 0;
  font-size: 1.5rem;
  color: white;
}

.person-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.main-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.3));
}

.slick-container {
  width: 100%;
  text-align: center;
}
.slick-slide img {
  display: inline-block;
}

.slick-prev::before {
  display: none;
  color: var(--primary-500) !important;
}
.slick-next::before {
  color: var(--primary-500) !important;
  display: none;
}

/* ============= NAV =============== */
